:root{
    --primary-background:#F7FAFD;
    --secondary-background:#E5EDF5;
    --primary-letter-color:#333333;
    --secondary-letter-color:#6C6C6C;
    --tertiary-letter-color:#FF556E;
    --quartery-letter-color:#8E8E8E;
    --line-color:#C1CED0;
    --users-icon:#A073E9;
    --users-icon-background:#E8E3F9;
    --code-icon:#19CA94;
    --code-icon-background:#D5F2ED;
    --cog-icon:#FD6277;
    --cog-icon-background:#F7E1E7;
    --comments-icon:#FFAA11;
    --comments-icon-background:#F7EFD9;
    --rocket-icon:#46B0E5;
    --rocket-icon-background:#DDF0F9;
    --font-family: "Open Sans", sans-serif;
    --normal-font: 400;
    --bold-font: 700; 
   
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: var(--font-family);
    font-weight: var(--normal-font);
}

.button-color{
    background-color: var(--tertiary-letter-color);
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: var(--bold-font);
    border: none;
    border-radius: 50px;
    padding:15px 25px;
}
.button-color > a{
    color: white;
}
.button-color:hover {
    animation: brillo .25s normal linear;
}
@keyframes brillo {
    0%{
        background: linear-gradient(
            -225deg,
            #f8f6fc 29%,
            var(--tertiary-letter-color) 0%,
            #f8f6fc 19%,
            var(--tertiary-letter-color) 67%);
    }
    25%{
        background: linear-gradient(
        -225deg,
        var(--tertiary-letter-color) 10%,
        #f8f6fc 49%,
        var(--tertiary-letter-color) 20%,
        #f8f6fc 39%,
        var(--tertiary-letter-color) 67%);
    }
    50%{
        background: linear-gradient(
            -225deg,
            var(--tertiary-letter-color) 40%,
            #f8f6fc 100%);
    }
    100%{
        background: linear-gradient(
            -225deg,
            var(--tertiary-letter-color) 60%,
            #f8f6fc 100%);
    }

}

@media screen and (min-width:1380px) {
    body{
        width: 80%;
        margin: auto;
        border-right: 1px solid var(--line-color);
        border-left: 1px solid var(--line-color);
    }
}
