@import url("/src/assets/css/global.css");

header{
    background-color: var(--primary-background);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 60px;
    padding-right: 60px;
}

#logo-name{
    display: flex;
    align-items: center;
    justify-content: left;
}

#logo {
    width: 120px;
}

nav{
    display: flex;
}
.close{
    display: none;
    font-size: 1rem;
    color: var(--primary-letter-color);
    float: right;
}

.nav-content-section{
    display: flex;
}
.nav-list{
    list-style: none;
    display: flex;
}
.nav-list > li > a{
    float: left;
    color: var(--primary-letter-color);
    text-align: center;
    padding: 22px 14px 14px 14px;
    font-size: 14px;
    font-weight: var(--bold-font);
}
.nav-list > li > a:hover{
    color: var(--tertiary-letter-color);
}

.drop-down-button{
    background-color: inherit;
    color: var(--primary-letter-color);
    text-align: center;
    padding: 22px 14px 14px 14px;
    border: none;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: var(--bold-font);
}
.drop-down-button:hover{
    color: var(--tertiary-letter-color);
}

.drop-down-menu-content{
    display: none;
    position: absolute;
    background-color: var(--primary-background);
    min-width: 11rem;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0;
    box-shadow: 0 .4rem 1rem 0 var(--secondary-background);
    z-index: 1;
}
.drop-down-menu-content a{
    display: block;
    color: var(--primary-letter-color);
    text-align: left;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: var(--bold-font);
    border-bottom: .3px solid var(--secondary-background);
    padding: 15px;
}
.drop-down-menu-content a:hover{
    color: var(--tertiary-letter-color);
}
.drop-down-menu:hover .drop-down-menu-content{
    display: block;
}

.button-download {
    background-color: inherit;
    border-radius: 50px;
    border: 2px solid var(--tertiary-letter-color);
    margin-bottom: 6px;
    margin-top: 12px;
    margin-left: 14px;
    z-index: 3;
}
.button-download > a{
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: var(--bold-font);
    padding:0 16px;
    color: var(--tertiary-letter-color);
}

.open{
    display: none;
    font-size: 1.5rem;
    color: var(--primary-letter-color);
    float: right;
    border: none;
    background-color: inherit;
    cursor: pointer;
    margin-left: 14px;
}

@media screen and (min-width:1100) {
    body{
        width: 80%;
        margin: auto;
    }
}

@media (max-width:768px) {
    #logo {
        width: 90px;
        margin: 5px;
    }
    li a {
        font-size: 12px;
    }
    .drop-down-button{
        font-size: 12px;
    }
    .drop-down-menu-content > a{
        font-size: 12px;
    }
    .button-download > a{
        font-size: 12px;
        padding: 5px 10px;
    }
    
}

@media (max-width:670px) {
    .open{
        display: block;
    }     
    .nav{
        opacity: 0;
        visibility: hidden;
        flex-direction: column;
        box-shadow: 0 .4rem 1rem 0 var(--quartery-letter-color);
        border-radius: 10px;
        position: absolute;
        top:20px;
        right: 20px;
        background-color: var(--primary-background);
        height: 50vh;
        width: 50%;

    }
    .nav.visible{
        opacity: 1;
        visibility: visible;
    }
    .close-button-section{
        display: flex;
        justify-content: flex-end ; 
        background-color: var(--cog-icon-background); 
     }
    .close{
        display: block;
        padding-right: 10px;
        border: none;
        cursor: pointer;
    }

    .nav-content-section{
        flex-direction: column;
        height: 90%;
        justify-content: space-between;
    }
    .nav-list{
        flex-direction: column;
    }
    .drop-down-menu .drop-down-button{
        margin-left: 5px;
    }
    .drop-down-menu-content{
        left: 10px;
        background-color: var(--cog-icon-background);
    }

    .button-download {
        z-index: 0;
        margin: 0 auto;
    }
    .button-download > a{
        font-size: 12px;
        text-align: center;
    }

}