@import url("/src/assets/css/global.css");

#home-page{
    background-color: var(--primary-background);
}
#home-page-info{
    padding-top: 10%;
    padding-bottom: 10%;
    width: 80%;
    left: 20%;
    margin: auto;
    text-align: center;
}
h1{
   font-weight: var(--bold-font);
   font-size: 70px;
   color: var(--primary-letter-color);
}
#home-page-info > p{
    color: var(--secondary-letter-color);
    font-size: 20px;
    line-height: 1.5em;
    padding-top: 15px;
    padding-bottom: 30px;
}
.button-download-mobile{
    background-color: var(--tertiary-letter-color);
    color: white;
    font-size: 15px;
    font-weight: var(--bold-font);
    border: none;
    border-radius: 50px;
    padding:15px 25px;
}

#img-info{
    width: 90%;
    left: 10%;
    margin: auto;
}
#iphone{
    width: 100%;
}


#app-properties{
    padding: 5%;
    width: 90%;
    left: 10%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.property{
    margin:auto; 
    padding-top: 5%; 
}
.property > p{
    color: var(--primary-letter-color);
    font-size: 15px;
    font-weight: var(--bold-font);
    margin-top:15% ;
}

.property-container{
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;

}
.property-container > i{
    width: 50%;
    left: 50%;
    margin: auto;
    padding-top:26%;
    font-size: 2.8rem;
}

#users{
    background-color: var(--users-icon-background);
}
.fa-users{
    color: var(--users-icon);
}

#code{
    background-color: var(--code-icon-background);
}
.fa-code{
    color: var(--code-icon);
}

#cog{
    background-color: var(--cog-icon-background);
}
.fa-cog{
    color: var(--cog-icon);
}

#comments{
    background-color: var(--comments-icon-background);
}
.fa-comments{
    color: var(--comments-icon);
}

#rocket{
    background-color: var(--rocket-icon-background);
}
.fa-rocket{
    color: var(--rocket-icon);
}