@import url("/src/assets/css/global.css");

.nav-list > li > .nav-list-screens{
    color:var(--tertiary-letter-color);
}

.users-testimonials{
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title > h2{
    font-weight: var(--bold-font);
    font-size: 40px;
    color: var(--primary-letter-color);
    background-color: aliceblue;
    margin-top: 5%;
}

.testimonials{
    display: flex;
    flex-direction: column ;
    background-color: aqua;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
}
.users{
    background-color: red;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 32%;
    background-color: antiquewhite;
}

.starts{
    color: var(--comments-icon);
}

.border{
    width: 40px;
    height: 1.7px;
    margin: 5%;
    background-color: var(--line-color);
}

.opinion{
    color: var(--secondary-letter-color);
    line-height: 1.4em;
    font-style: italic;
}
.name{
    font-weight: var(--bold-font);
    color: var(--primary-letter-color);
    margin-top: 3%;
    font-style: normal;
}

.customers-logo{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
.customers-images{
    background-color: palevioletred;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
}
.customers-images > img{
  margin-bottom: 3%;
  margin-top: 3%;
}

.testimonial-counter{
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.counter-box{
    background-color: red;
    display:flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
    padding-top: 5%;
    padding-bottom: 5%;
}
.counter{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.counter > i{
    font-size: 2.8rem;
}
.counter > .number-counter {
    font-size: 3rem;
    font-weight: var(--bold-font);
    color: var(--primary-letter-color);
}
.counter > span{
    color: var(--secondary-letter-color);
}

.publicity{
    background: url("/src/assets/images/decorative-white-circle.svg") no-repeat -25% 50%,
    url("/src/assets/images/decorative-white-circle.svg") no-repeat  125% 10%;
    background-size: 30%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.publicity-box{
   
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    padding-top: 7%;
    padding-bottom: 7%;
}

.img-publicity{
    width: 100%;
}
.img-publicity > img{
    width: 100%;
}

.info-publicity{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.info-publicity > #buttons{
    padding-top: 3%;
}

@media (max-width:600px) {
    .section-title > h2{
        font-size: 30px;
    }
    .users{
        background-color: red;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .user{
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-top:2%;
    }
    .counter{
        background-color: aliceblue;
        margin-top:5px;
        margin-bottom:5px;
    }

}